<!DOCTYPE html>
<html>
<head>
    <title>Login</title>

    <style>
        body {
            font-family: Arial;
            background: #dbeeff;
        }

        .box {
            width: 300px;
            margin: 100px auto;
            padding: 20px;
            background: white;
        }

        input, button {
            width: 100%;
            margin: 8px 0;
            padding: 8px;
        }

        button {
            background: skyblue;
            border: none;
        }
    </style>
</head>

<body>

<div class="box">

<h2>Login</h2>

<form method="POST">
    <input name="username" placeholder="Username">
    <input name="password" type="password" placeholder="Password">
    <button>Login</button>
</form>

<a href="/register">Register</a>

</div>

</body>
</html>